//
@import 'partials/reset';
@import 'partials/variable_colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-background);
  font-size: 12px;

}

header {
  padding: 1rem 0;
  text-transform: uppercase;
  color: var(--header-text-color);
  font-weight: 500;
  background-color: white;
  width: 100%;
  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      li {
        margin-right: 1.5rem;
        a {
          color: var(--header-text-color);
          text-decoration: none;
          &:hover {
            color: var(--dc-blue);
          }
        }
      }
      .active a{
        color: var(--hover-text-color);
      }

    }

    .logo-holder{
      max-width: 100%;
      .logo {
        width: 4rem;
      }
    }

    .search-bar {
      border-bottom: var(--dc-blue) solid 1px;
      #search {
        border: none;
      }
      button {
        border: none;
        background-color: transparent;
      }
      .search-icon {
        width: auto;
        height: .8rem;
        color: var(--header-text-color);
      }
    }
  }
}

.jumbotron {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.current-series {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  .card {
    flex-basis: calc((100% / 6) - (5rem / 6));
    max-width: calc((100% / 6) - (5rem / 6));
    margin-right: 1rem;
    .img-holder {
      height: 10rem;
      overflow: hidden;
      margin-bottom: .8rem;
      img {
        object-fit: cover;
        max-width: 100%;
      }
    }
    a {
      color: var(--text-color);
      text-decoration: none;
    }

  }
  & > :nth-child(6n + 6) {
    margin-right: 0;
  }

}

.load-more-btn {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;

}

button {
  border: none;
  color: white;
  background-color: var(--dc-blue);
  padding: .4rem 2rem;
}

.container-sec2 {
  background-color: var(--dc-blue);
  padding: 3rem;

  .section2 {
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    & > :last-child img {
      max-height: 2rem;
    }
    .text-image-card {
      display: flex;
      align-items: center;
      gap: .5rem;

    }
    img {
      max-height: 3rem;
    }
  }

}


footer {
  background-image: url('../images/footer-bg.jpg');
  background-size: cover;
  color: grey;
  overflow: hidden;

  .container {
    padding: 2rem 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    position: relative;


    .left {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      ul {
        list-style: none;
        .ul-header {
          text-transform: uppercase;
          color: white;
          font-size: 1.2rem;
          margin-bottom: 1rem;

        }
        .margin-top {
          margin-top: 1rem;
        }
      }
    }

    .right  {

      height: 100%;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%,-40%);
        max-width: 500px;
      }
    }
  }

}

.social {
  background-color: #333;
  padding: 1.6rem;
  .container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
      & img {
        max-height: 1.6rem;
      }
      span {
        color: var(--dc-blue);
        font-size: 1rem;
      }
    }

    #social-btn {
      border: var(--dc-blue) solid 1px;
      background-color: transparent;
      text-transform: uppercase;
      padding: .5rem .5rem;

    }
  }
}


